<a href="https://colab.research.google.com/github/obeabi/Assignments/blob/master/SkyHive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
!pip install wordcloud

Requirement already satisfied: wordcloud in /usr/local/lib/python3.6/dist-packages (1.5.0)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from wordcloud) (1.19.4)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from wordcloud) (7.0.0)

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
%matplotlib inline

In [129]:
df = pd.read_excel('Data Analyst Report Writer Sample Dataset.xlsx')
df.head()

                   ObjectId  ... importance
0  5bd23e5214b35001c88804db  ...   0.804382
1  5aca7f0d0cbf2c0460d62041  ...   0.841847
2  5add7a07dccd3b50f3bf5a69  ...   1.023003
3  5acbe821c2c2f1713ae19ccf  ...   1.128249
4  5aa76e2653b12204854a64f0  ...   0.946662

[5 rows x 18 columns]

In [130]:
column = df.columns
df.isnull().sum()

ObjectId                    0
skill_title                 0
DocumentId                  0
Type                        0
OriginalTitle            7050
CreationDate                0
OriginalCompanyName      7205
RangeFrom              216944
RangeTo                216944
ClusteredTitle              0
OriginalLocation            0
OriginalSalary          78694
CountryCode              5530
City                    11600
SalaryParsed                0
State                    9499
Complexity                 48
importance              45050
dtype: int64

In [131]:
# Examine data type
df.dtypes

ObjectId                       object
skill_title                    object
DocumentId                      int64
Type                           object
OriginalTitle                  object
CreationDate           datetime64[ns]
OriginalCompanyName            object
RangeFrom                     float64
RangeTo                       float64
ClusteredTitle                 object
OriginalLocation               object
OriginalSalary                 object
CountryCode                    object
City                           object
SalaryParsed                   object
State                          object
Complexity                    float64
importance                    float64
dtype: object

In [132]:
# print total number of missing values in original dataframe
print(df.isnull().sum().sum())

598564

In [133]:
# Let's examine OriginalLocation column
df['OriginalLocation'].value_counts()

MontrÃ©al, QC           15529
Toronto, ON             14215
Mississauga, ON          8951
Vancouver, BC            6915
Winnipeg, MB             6780
                        ...
Newton, MA                  2
Ottawa                      2
Parsippany, NJ              2
Balmain NSW                 2
Dawson Creek, BC, CA        1
Name: OriginalLocation, Length: 1754, dtype: int64

In [134]:
# Let's create a new column with all capitalized entries from the original location column 
df['Location']= df['OriginalLocation'].str.upper()
df.head()

                   ObjectId  ...     Location
0  5bd23e5214b35001c88804db  ...  TORONTO, ON
1  5aca7f0d0cbf2c0460d62041  ...  TORONTO, ON
2  5add7a07dccd3b50f3bf5a69  ...  TORONTO, ON
3  5acbe821c2c2f1713ae19ccf  ...  TORONTO, ON
4  5aa76e2653b12204854a64f0  ...  TORONTO, ON

[5 rows x 19 columns]

In [135]:
# Let's recheck for missing values
df.isnull().sum()

ObjectId                    0
skill_title                 0
DocumentId                  0
Type                        0
OriginalTitle            7050
CreationDate                0
OriginalCompanyName      7205
RangeFrom              216944
RangeTo                216944
ClusteredTitle              0
OriginalLocation            0
OriginalSalary          78694
CountryCode              5530
City                    11600
SalaryParsed                0
State                    9499
Complexity                 48
importance              45050
Location                    0
dtype: int64

In [151]:
df2 = df[df['Location'].str.strip().str.contains('MI')]
df2 = df2.replace('\n','', regex=True)
df2['Time'] = pd.to_datetime(df2['CreationDate'])
df2['year'] = pd.DatetimeIndex(df2['CreationDate']).year
df2['month'] = pd.DatetimeIndex(df2['CreationDate']).month
# Decode dataframe in Python
#df2['Salary_decoded'] = map(lambda x: x.decode(encoding = 'UTF-8',errors = 'strict'), df2['SalaryParsed'])

df2.head(50)

                    ObjectId                         skill_title  ...  year month
25  5b2ad09eb3eb925e9b43d559                Business Development  ...  2019     9
26  5c352b092349e96712c0001f      community relations management  ...  2019     9
27  5c352a832349e96712bffbc7                       data research  ...  2019     9
28  5b106cbd646efe58ac44b25d                        Data Science  ...  2019     9
29  5b5f2aec3820c244477270d6                  Data Visualization  ...  2019     9
30  5c352adeeebc546524b705fb        digital business development  ...  2019     9
31  5b03b96c735ade1bec82c796                dump truck operation  ...  2019     9
32  5aca7f0d0cbf2c0460d62041                 equipment servicing  ...  2019     9
33  5add3d18e1c2ce5bc3b4bced             garbage truck operation  ...  2019     9
34  5a9babc7fc0da84a0c18a256                      General Labour  ...  2019     9
35  5bfe5a52918a236bad61a27c   information technology management  ...  2019     9
36  5c352ac32349e96712bffd68  international business development  ...  2019     9
37  5b1b22638707592214884f2c                  inventory checking  ...  2019     9
38  5a9cf781fc0da84a0c1d4182                       Investigation  ...  2019     9
39  5acbe821c2c2f1713ae19ccf              laboratory maintenance  ...  2019     9
40  5a9deba5fc0da84a0c229e4e                           logistics  ...  2019     9
41  5aa76e2653b12204854a64f0    mechanical equipment maintenance  ...  2019     9
42  5a99fb26fc0da84a0c17e579          Media Relations Management  ...  2019     9
43  5b1b5058a0ad0368756f8d5b       numerical analysis simulation  ...  2019     9
44  5a99c980fc0da84a0c16d7e3                         Procurement  ...  2019     9
45  5c05f93bf3ccde7f5752679a               System Administration  ...  2019     9
46  5b18ba4bd69ebf3c07a71899              systems administration  ...  2019     9
47  5b03b9659944f6363bbaf771                 tow truck operation  ...  2019     9
48  5b1add91d9c7961f1a711746                 Amazon Web Services  ...  2019     9
49  5be9a85ba318a540da5c75d8                                 Git  ...  2019     9
50  5c352d2e2349e96712c014e4                               NumPy  ...  2019     9
51  5a9cf5b4fc0da84a0c1cfc4f                          Consulting  ...  2019     9
52  5e3de276ed09432018b4640d              Information Technology  ...  2019     9
53  5b18b9b1d69ebf3c07a71887              Linux Operating System  ...  2019     9
54  5ae6af1342c77c7d15a05046                              Python  ...  2019     9
55  5d0bca4d6bae1671fbc7555f               Google Cloud Platform  ...  2019     9
56  5c352b9d2349e96712c0085b                              Docker  ...  2019     9
57  5c6488464f069216bd1d4654                            Research  ...  2019     9
58  5c352ab1eebc546524b704d7                         IT Strategy  ...  2019     9
59  5c352ac3eebc546524b7054b               IT Service Management  ...  2019     9
60  5e87ca5270a45c2200d4eff2                        Western Blot  ...  2019     9
61  5e8807da2fefa510a8b5eb3f                 Immunoprecipitation  ...  2019     9
62  5a9c2e85fc0da84a0c19e18a                              Design  ...  2019     9
63  5e6196c2e71c535991813bf0                             Jupyter  ...  2019     9
64  5c37caf0eebc546524e56d6b                              Pandas  ...  2019     9
65  5b106cb2646efe58ac44b25a                    Machine Learning  ...  2019     9
66  5b106d08feb5692a20640c6e               Scikit-learn Software  ...  2019     9
67  5d6184bd13d5b82a2ddbb2aa                          Matplotlib  ...  2019     9
68  5acbf0d8c2c2f1713ae23ff6                     Safety Training  ...  2019     9
69  5a9cd5c1fc0da84a0c1be295                          Microscopy  ...  2019     9
70  5e87c35270a45c2200d4dcc7                             Reagent  ...  2019     9
71  5cbe40ecb58123705e71ffd9                        Construction  ...  2019     9
72  5add837edccd3b50f3c3d40a                          Purchasing  ...  2019     9
73  5ade3e615a010814bddd35be              Shipping and Receiving  ...  2019     9
74  5cd0cb6c9165e9680d174e20                   Material Handling  ...  2019     9

[50 rows x 22 columns]

In [157]:
df2.shape

(43063, 22)

In [149]:
df2.isnull().sum()

ObjectId                   0
skill_title                0
DocumentId                 0
Type                       0
OriginalTitle            540
CreationDate               0
OriginalCompanyName     1755
RangeFrom              42245
RangeTo                42245
ClusteredTitle             0
OriginalLocation           0
OriginalSalary         15668
CountryCode              138
City                     491
SalaryParsed               0
State                    173
Complexity                 6
importance              8629
Location                   0
Time                       0
year                       0
month                      0
dtype: int64

In [159]:
# select data from Michigan

df3 = df2[df2['CountryCode']== 'US']
#df3 = df2[df2['OriginalLocation'].str.contains('MI')]
#data2 = df[df['State']== 'MI']
df3.head()

                       ObjectId             skill_title  ...  year month
15489  5adcfd7bdccd3b50f37385ee  emergency patient care  ...  2020     4
15490  5add7515e1c2ce5bc3c9c423          geriatric care  ...  2020     4
15491  5b0b25e32e657c3f910d3632               lecturing  ...  2020     4
15492  5aca6d360cbf2c0460d3348f                 Nursing  ...  2020     4
15493  5acaf0c00cbf2c0460edf280      taking vital signs  ...  2020     4

[5 rows x 22 columns]

In [160]:
df3.isnull().sum()

ObjectId                   0
skill_title                0
DocumentId                 0
Type                       0
OriginalTitle            540
CreationDate               0
OriginalCompanyName     1369
RangeFrom              25510
RangeTo                25510
ClusteredTitle             0
OriginalLocation           0
OriginalSalary         11411
CountryCode                0
City                     353
SalaryParsed               0
State                      0
Complexity                 3
importance              5784
Location                   0
Time                       0
year                       0
month                      0
dtype: int64

In [168]:
df4 = df3[df3['State']=='MI'].reset_index(drop = True)
df4.head()

                   ObjectId            skill_title  ...  year month
0  5b9acd0f8150937237061eea                billing  ...  2020     4
1  5b81427ac0db8a324099538c  critical care nursing  ...  2020     4
2  5afc927c2267de1731c7b38f      Critical Thinking  ...  2020     4
3  5baec51e25d3ac67648c2f71          Documentation  ...  2020     4
4  5a9cfaf1fc0da84a0c1dc19c    drug administration  ...  2020     4

[5 rows x 22 columns]

In [169]:
df4.shape

(22959, 22)

In [171]:
(df4['City'].value_counts())

Ann Arbor       5326
Detroit         3117
Mattawan        2006
Kalamazoo       1334
Lansing          860
                ...
Hart               7
Chesterfield       6
Cass City          6
Atlanta            6
Pigeon             4
Name: City, Length: 137, dtype: int64

In [172]:
df4.columns

Index(['ObjectId', 'skill_title', 'DocumentId', 'Type', 'OriginalTitle',
       'CreationDate', 'OriginalCompanyName', 'RangeFrom', 'RangeTo',
       'ClusteredTitle', 'OriginalLocation', 'OriginalSalary', 'CountryCode',
       'City', 'SalaryParsed', 'State', 'Complexity', 'importance', 'Location',
       'Time', 'year', 'month'],
      dtype='object')

In [173]:
cols = ['CreationDate', 'Location','ObjectId','month','year']
df4.drop(cols, axis = 1, inplace= True)

In [174]:
df4.head()

             skill_title  DocumentId  ... importance                Time
0                billing   241762023  ...   0.778135 2020-04-03 02:38:24
1  critical care nursing   241762023  ...   0.940654 2020-04-03 02:38:24
2      Critical Thinking   241762023  ...   0.835810 2020-04-03 02:38:24
3          Documentation   241762023  ...   0.654163 2020-04-03 02:38:24
4    drug administration   241762023  ...   1.014463 2020-04-03 02:38:24

[5 rows x 17 columns]

In [176]:
df4.to_csv('data.csv')